* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vw;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex ul li {
  list-style-type: none;
}
.navbar {
  width: 100vw;
  height: 5rem;
  background-color: black;
  color: rgb(210, 38, 253);
  position: sticky;
}
.items-align {
  align-items: center;
}

justify-between {
  justify-content: space-between;
}
.left-content {
  margin-left: 3rem;
}
.left-content a:hover{
  color: aquamarine;
}
.right {
  position: absolute;
  right: 10vw;
  margin-top: 2rem;
}

.flex a {
  padding: 1.5rem;
  color: aliceblue;
  text-decoration: none;
  font-size: large;
}
.btn {
  background-color: black;
  color: rgb(130, 14, 240);
  border: 3px solid rgb(130, 14, 240);
  font-size: large;
  border-radius: 4px;
  padding: 10px 25px;
  position: absolute;
  right: 1rem;
  bottom: -33px;
  cursor: pointer;
  margin: 2vw;
}
.btn:hover {
  background-color: rgb(130, 14, 240);
  color: black;
}
.btn2 {
  background-color: wheat;
  color: black;
  border: 3px solid black;
  font-size: large;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}
.btn2:hover {
  background-color: black;

  color: wheat;
}
.section1 {
  width: 100vw;
  height: 50vw;
  background-color: wheat;
}
.left-image {
  background-image: url("download.png");
  background-color: wheat;
  background-size: 50vw 50vw;
  background-repeat: no-repeat;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  width: 50vw;
  height: 50vw;
}
.left-image img {
  padding: 7.7vw 13.2vw;
  height: 35vw;
  width: 24vw;
}
.right-content {
  width: 24vw;
  font-size: larger;
  text-align: left;
  line-height: 2.4vw;
  height: 41vw;
  align-items: center;
  margin: 2.7vw 12vw;
}
.right-content h1 {
  line-height: 80px;
}
.CV {
  padding: 40px 5px;
}
.CV button {
}
.skills {
  background-color: #05595b;
  width: 100vw;
  height: 70vw;
  background-image: url("backskills.jpg");
  background-size: 100rem 80rem;
  background-repeat: no-repeat;
}
.skills h1 {
  font-size: 5rem;
  text-align: center;
  padding-top: 30px;
  color: #6909d1;
  text-decoration: bolder;
}
.allskills {
  padding-top: 7vw;
  width: 100vw;
}
.individual {
  padding: 20px 30px;
}
.justify-between {
  justify-content: space-around;
}
.fa-solid {
  padding: 15px;
  color: goldenrod;
}
.fa-html5 {
  color: #ff6f0f;
}
.fa-css3-alt {
  color: rgb(35, 94, 221);
}
.fa-js {
  color: rgb(233, 233, 62);
}
.fa-java {
  color: rgb(76, 88, 124);
}
.fa-github {
  color: whitesmoke;
}
.fa-node-js {
  color: rgb(43, 180, 43);
}
.txtcolor {
  color: royalblue;
}
.img-wrapper img {
  height: 15vw;
  width: 22vw;
}

.container {
  width: 100vw;
}
.wrapper {
  padding: 7vw;
}
section.blog {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
}
.container1 {
}
.heading1 {
  padding: 4vw 25vw;
  width: 50vw;
  text-align: center;
  line-height: 3vw;
}
.heading1 h1 {
  font-size: xx-large;
}
.heading1 span {
  color: aqua;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  padding: 5vw 10vw;
  gap: 7vw;
}
.card {
  width: 22vw;
  background-color: rgb(241, 239, 219);
  color: rgb(104, 103, 104);
  border-radius: 6vw;
}
.card-content {
  padding: 2vw;
  font-size: 0.6rem;
}

.card a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}
.card a:hover {
  color: aqua;
}
.contact-content {
  width: 40vw;
  padding: 5vw 30vw;
  text-align: center;
}
.contact-content h1 span {
  color: aqua;
}
.contactpage {
  background-color: white;
  width: 100vw;
}
.contact .fa-solid {
  color: black;
}
.contact-wrapper {
  width: 70vw;
  padding: 1vw 15vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.contact {
  text-align: center;
}
.contact h1 {
  margin-bottom: 1rem;
}
.input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  margin-bottom: 2vw;
}
form {
  width: 80vw;
  padding: 8vw 12vw;
}
.input-wrap2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}
.input-wrap input {
  padding: 1vw 1vw;
}
.input-wrap2 input {
  margin-bottom: 2vw;
  padding: 1vw 1vw;
}
.input-wrap2 textarea {
  padding: 1vw 1vw;
}
.btn3 {
  background-color: aqua;
  color: black;
  margin-top: 5vw;
  width: 14vw;
  padding: 1vw 1vw;
  font-weight: 600;
}
.btn3:hover {
  background-color: rgb(153, 143, 152);
  color: whitesmoke;
  border: 2px solid;
}
.footer-socials a{
  color: white;
  margin: 1vw;

}
.footer-socials{
  padding: 2vw;
}
footer{
  background-color: black;
  height: 10vw;
  text-align: center;
  padding: 5vw 0vw;
  width: 100vw;
}
.copyright{
  color: rgb(122, 122, 122);
}
header{
  width: 100vw;
}
